body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 400px;
    background-color:black;
    overflow: hidden;
    border-radius: 10px;

}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}
input{
    width: 100%;
    background-color: rgb(51, 51, 51);
    border: none;
    outline: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: rgb(51, 49, 49);
    color: whitesmoke;
    font-weight: 600;
    font-size: 3vh;
    cursor: pointer;
    outline: none;
}
.operators_buttons{
    background-color: orange;
}
.operators_buttons:hover{
    background-color: rgb(254, 214, 141);
}
.operators_buttons:active{
    background-color: rgb(144, 144, 144);
}
button:hover{
    background-color: rgb(196, 184, 162);
}
button:active{
    background-color: gray;
}